body,html{

  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background-color:#880000; /* Cor vermelha */
  height: 50px;
  text-align: center;
  color: white;
  line-height: 50px; /* Alinha o texto verticalmente */
}
.container {
   display: flex;  /*Coluna ao lado*/
   flex: 1;
   background-color: #65CDAA; /* Cor verde agua*/
}
.sidebar {    
   width: 20%;    /*Coluna ao lado*/
   background-color: #65CDAA; /* Cor-verde-gua */
   padding: 10px;
}
main {
   flex: 1;
   background-color: #F5F5DC;/* Cor bege */
   padding: 10px;
}
footer {
   background-color: #000000; /*Cor preta */
   height: 30px;
   text-align: center;
   color: white;
  line-height: 30px; /* Alinha o texto verticalmente */
}